
.national-park-<uniquifier> {
  font-family: "National Park", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

html {
    font-family: "National Park", helvetica, sans-serif;
    font-size: 1em;
}

.navigation {
    display: flex;
}

.navigation img {
    width: 4rem;
    height: 4rem;
    padding: 0 1rem 0 2rem;
}

.navigation img:hover {
    translate: 0 -1rem;
    transition-duration: 1s, 10s;
    transition-timing-function: 2s ease-in-out;
}

.navigation > a {
    font-size: 1.2rem;
    line-height: 3.5rem;
    padding: 1em;
}